<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.min.css?h=a8e7fe0865a07519472bbde9d8f4d139">
</head>

<body>
    <div class="container">
        <header>
            <h1>Sentiment Analysis</h1>
        </header>
        <form method="post">{% csrf_token %}
            <hr><input type="text" name = 'sentiment' style="width: 1100px;">
            <hr><button class="btn btn-primary" type="submit">SUBMIT</button>
            <hr>
        </form>
        <p style="height: 24;">Positive : {{ positive }}</p>
        <p>Neutral : {{ neutral }}</p>
        <p>Negative : {{ negative }}</p>
        <div class="card"></div>
        <hr>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>